@charset "utf-8";
/* CSS Document */
html, body{
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Noto Sans TC', 'Arial', '微軟正黑體', sans-serif;
	background-color: #f4f3f2;
	font-weight: 500;
}


a{	color: inherit;}
a:focus,a:hover{ text-decoration: none;}


body::-webkit-scrollbar{
	background-color: #ffc952;
}
body::-webkit-scrollbar-thumb{
	background-color: #f7931e;
}


.c-c69c6d{color:#c69c6d;}
.c-ffc952{color:#ffc952;}
.c-ff7473{color:#ff7473;}
.c-f7931e{color:#f7931e;}
.c-e80000{color:#e80000;}
.c-3f1606{color:#3f1606;}
.bg-ffffff{background-color: #ffffff;}
.btn-ffc952{
	background-color:#ffc952;color:#ffffff;
}
.btn-ffc952:focus,
.btn-ffc952:hover{
	background-color:#ff7473;
	color:#ffffff;
}
.btn-ff7473{
	background-color:#ff7473;
	color:#ffffff;
	border-radius: 999px;
	padding:0 15px;
}
.btn-ff7473:focus,
.btn-ff7473:hover{
	background-color:#f7931e;
	color:#ffffff;
}
.btn-3f1606{
	background-color:#3f1606;
	color:#ffffff!important;
}
.btn-3f1606:focus,
.btn-3f1606:hover{
	background-color:#f7931e;
	color:#ffffff!important;
}
.btn-3f1606-outline{
	border-color: #3f1606;
	background-color:#ffffff;
	color:#3f1606;
}
.btn-3f1606-outline:focus,
.btn-3f1606-outline:hover{
	background-color:#3f1606;
	color:#ffffff!important;
}
.content{
	width: 100%;
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
	/* outline: 1px solid #f00; */
}




/* wrap&footer============================================== */
.wrap{
	width: 100%;
	min-height: 100%;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}
.footer{
	width: 100%;
	display: block;
	position: relative;
	background-color: #3f1606;
	color: #ffffff;
}
.footer .deco-line{
	width: 100%;
	height: 20px;
	background-color: #ffc952;
	display: block;
	position: relative;
	margin-bottom: 10px;
}
.footer .title span{
	font-size: 16px;
}
.footer span{
	display: inline-block;
	margin-right: 30px;
}
.footer .phone .icon{
	width: 18px;
	height: 18px;
	display: inline-block;
}
.footer .phone .icon>img{
	width: 100%;
}
.footer a{
	transition: .3s .03s;
	color: inherit;
}
.footer a:focus,
.footer a:hover{
	color: #ffc952;
}







/* header&banner================================================= */
.header{
	width: 100%;
	display: block;
	position: relative;
	background-color: #ffffff;
}
.header .deco-line{
	width: 100%;
	height: 22px;
	display: block;
	position: relative;
	background-color: #3f1606;
	border-bottom: 7px solid #ffc952;
}
.header .navbar{
	padding: .5rem 0;
}
.header .navbar-brand{
	width: 280px;
}
@media screen and (max-width:990px){
	.header .navbar-brand{
		width: 150px;
	}
}
@media screen and (max-width:400px){
	.header .navbar-brand{
		width: 100px;
	}
}
.header .navbar-toggler{
	border: 2px solid #aaaaaa;
	padding: 5px;
	margin: 0 10px 0 0;
	color: #aaaaaa;
}
.header .navbar-toggler[aria-expanded="true"],
/* .header .navbar-toggler:focus, */
.header .navbar-toggler:hover{
	color:#f7931e;
	border: 2px solid #f7931e;
}
.header .navbar-toggler:focus{
	outline: 0;
}
.header-slogan{
	width: 100%;
	text-align: center;
}
.header-slogan>img{
	max-width: 100%;
	max-height: 40px;
}
@media screen and (max-width:990px){
	.header-slogan>img{
		max-height: 30px;
	}
}
.header-icon-group{
	/* max-width: 150px; */
	display: block;
	position: relative;
	/* outline: 1px solid #0f0; */
}
.header-icon-group>ul{
	width: 100%;
	display: flex;
	list-style: none;
	margin: 0 0;
	padding: 0;
}
.header-icon-group>ul>li>a{
	width: 36px;
	height: 30px;
	display: block;
	text-align: center;
	font-size: 20px;
	/* color: #3f1606; */
	transition: .3s .03s;
}
.header-icon-group>ul>li>a:focus,
.header-icon-group>ul>li>a:hover{
	color: #b91117;
}
.header .header-icon-group .login-btn>a{
	width: 100%;
	/* height: 30px; */
	border-color: #3f1606;
	color: #3f1606;
	text-align: center;
	font-size: 18px;
	padding: 2px;
}
.header .header-icon-group .login-btn>a:focus,
.header .header-icon-group .login-btn>a:hover{
	border-color: #b91117;
	color: #b91117;
	/* background-color: #b91117; */
	/* background-color: #3f1606; */
	/* color: #ffffff; */
	box-shadow: none;
}
.header .header-icon-group .logout-cart{
	display: none;
	margin-bottom: 3px;
}
.header .header-icon-group .logout-cart>ul{
	width: 100%;
	display: flex;
	list-style: none;
	margin: 0 0;
	padding: 0;
	justify-content: flex-end;
}
.header .header-icon-group .logout-cart>ul>li>a{
	width: 36px;
	height: 30px;
	display: block;
	text-align: center;
	font-size: 20px;
	transition: .3s .03s;
}
@media screen and (max-width:990px){
	.header-icon-group>ul>li>a,
	.header .header-icon-group .logout-cart>ul>li>a{
		width: 30px;
	}
}
.header .header-icon-group .logout-cart>ul>li>a:focus,
.header .header-icon-group .logout-cart>ul>li>a:hover{
	color:#f7931e;
}
.header .header-icon-group .logout-cart>ul>li>a.header-cart{
	position: relative;
	color: #b7131b;
}
.header .header-icon-group .logout-cart>ul>li>a.header-cart .badge{
	position: absolute;
	transform: scale(.8);
	right: -15px;
	top: -8px;
}
.header .header-icon-group .logout-cart>ul>li>a.header-cart:focus,
.header .header-icon-group .logout-cart>ul>li>a.header-cart:hover{
	color:#f7931e;
}

.header .navbar-nav{
	max-height: 80vh;
	overflow-y: auto;
}
.header .navbar-nav .nav-item .nav-link{
	font-size: 18px;
	font-weight: bold;
	color: #3f1606;
	position: relative;
	transition: .3s .03s;
}
.header .navbar-nav .nav-item.active .nav-link,
.header .navbar-nav .nav-item .nav-link:focus,
.header .navbar-nav .nav-item .nav-link:hover{
	color: #dba74d;
}
.header .navbar-nav .nav-item .nav-link:after{
	content: '';
	width: 0px;
	height: 3px;
	display: block;
	position: absolute;
	left: 0;
	bottom: 8px;
	background-color: #ffc952;
	transition: .3s .03s;
}
.header .navbar-nav .nav-item.active .nav-link:after,
.header .navbar-nav .nav-item .nav-link:focus:after,
.header .navbar-nav .nav-item .nav-link:hover:after{
	width: 75px;
}

.banner{
	width: 100%;
	display: block;
	position: relative;
}
.banner .carousel-control-prev-icon{
	opacity: 0;
}
.banner .carousel-control-next-icon{
	opacity: 0;
}

.header.fixed{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.header-block{
	width: 100%;
	display: block;
}







/* menu============================================================ */
.menu{
	width: 100%;
	display: block;
	background-color: #f4f3f2;
}
.menu-block{
	width: 100%;
	display: block;
}
.menu ul{
	width: 100%;
	position: relative;
	margin: 0;
	padding: .3rem .5rem;
	list-style: none;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #3f1606;
}
.menu ul>li>a{
	padding: .5rem 0;
	display: inline-block;
	text-align: center;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: #3f1606;
	transition: .3s .03s;
}
.menu ul>li>a:after{
	content: '';
	width: 0;
	height: 3px;
	display: block;
	background-color: #ffc952;
	position: absolute;
	left: 0; right: 0;
	bottom: .5rem;
	transition: .3s .03s;
	margin: 0 auto;
}
.menu ul>li.active>a,
.menu ul>li>a:focus,
.menu ul>li>a:hover{
	color: #dba74d;
}
.menu ul>li.active>a:after,
.menu ul>li>a:focus:after,
.menu ul>li>a:hover:after{
	width: 100%;
}
.menu.fixed{
	position: fixed;
	left: 0;
	z-index: 100;
	background-color: #ffffff;
}
@media screen and (max-width:990px){
	.menu{
		display: none;
	}
	.menu-block{
		display: none;
	}
}














/* content&共用================================================= */
content{
	width: 100%;
	display: block;
	position: relative;
}
.title-block{
	width: 100%;
	height: 45px;
	display: block;
	position: relative;
	margin: 1rem 0 ;
	background-image: url('../images/title-bg.png');
	background-repeat: no-repeat;
	background-position: left top;
	/* outline: 1px solid #0f0; */
}
.title-block strong{
	width: 140px;
	height: 36px;
	font-size: 20px;
	line-height: 32px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	/* outline: 1px solid #f00; */
}
.list-more{
	width: 100%;
	display: block;
	position: relative;
}
.list-more>a{
	font-size: 18px;
	/* font-weight: bold; */
	color: #3f1606;
	display: inline-block;
	position: relative;
	transition: .3s .03s;
}
.list-more>a:focus,
.list-more>a:hover{
	color: #dba74d;
}
.list-more>a:after{
	content: '';
	width: 0;
	height: 3px;
	display: block; 
	background-color: #ffc952;
	position: absolute;
	bottom: 0;
	transition: .3s .03s;
	margin: 0 auto;
}
.list-more.tr>a:after{
	right: 0;
}
.list-more.tc>a:after{
	left: 0;
	right: 0;
}
.list-more>a:focus:after,
.list-more>a:hover:after{
	width: 100%;
}
.btn-goTop{
	width: 30px;
	height: 30px;
	display: none;
	position: fixed;
	right: 15px;
	bottom: 50px;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	background-color: #ffc952;
}
.btn-goTop:hover{
	color: #ffffff;
	background-color: #f7931e;
}
.page-group{
	width: 100%;
	display: block;
	position: relative;
	margin: 20px 0;
}
.page-group .pagination .page-item .page-link{
	background-color: transparent;
	border: 0;
	color: #3f1606;
	transition: .3s .03s;
}
.page-group .pagination .page-item.disabled .page-link{
	color: #aaaaaa;
}
.page-group .pagination .page-item.active .page-link{
	color: #ffc952;
}
.page-group .pagination .page-item .page-link:hover{
	color: #f7931e;
}

.shareBTN-group{
	width: 100%;
	display: block;
	position: relative;
	padding: 15px 0;
	/* text-align: right; */
	margin-bottom: 20px;
}
.shareBTN-group>a{
	width: 30px;
	display: inline-block;
	margin: 0 5px;
	transition: .3s .03s;
}
.shareBTN-group>a>img{
	width: 100%;
}
.shareBTN-group>a:focus,
.shareBTN-group>a:hover{
	transform: scale(1.1);
}
.fb-function{
	width: 100%;
	display: block;
	position: relative;
	padding: 15px 0;
	border-top: 2px solid rgba(63, 22, 6, .1);
	margin: 20px 0 20px;
}














/* index article================================================= */
.article-list{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 1rem;
}
.article-item{
	width: 100%;
	display: block;
	border: 2px solid #cccccc;
	background-color: #ffffff;
	position: relative;
	transition: .3s .03s;
	margin-bottom: 1rem;
}
.article-item .type{
	width: 100px;
	height: 30px;
	display: block;
	position: absolute;
	left: 1px;
	top: -2px;
	background-color: #ffffff;
	border: 2px solid #cccccc;
	transform: skew(20deg, 0deg);
	transform-origin: left top;
	transition: .3s .03s;
	z-index: 10;
}
.article-item:focus .type,
.article-item:hover .type{
	background-color: #ffc952;
}
.article-item .type>span{
	display: block;
	text-align: center;
	line-height: 26px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	transform: skew(-20deg, 0deg);
	color: #3f1606;
	font-size: 18px;
}
.article-item .title{
	width: 100%;
	height: 72px;
	padding: 8px 1rem;
	font-size: 20px;
	line-height: 28px;
}
.article-item .title>span{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #3f1606;
	transition: .3s .03s;
}
.article-item:focus .title>span,
.article-item:hover .title>span{
	color: #dba74d;
}
.article-item .img{
	width: 100%;
	padding-bottom: 60%;
	display: block;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #eeeeee;
	position: relative;
	transition: .3s .03s;
}
.article-item:focus .img,
.article-item:hover .img{
	opacity: .5;
}
.article-item.video .img:after{
	content: '';
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
	background-image: url('../images/icon-play.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transition: .3s .03s;
}
@media screen and (max-width:600px){
	.article-item.video .img:after{
		width: 80px;
		height: 80px;
	}
}
.article-item.video:focus .img:after,
.article-item.video:hover .img:after{
	transform: scale(1.15);
}
















/* product==================================================== */
.product-list{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 1rem;
}
.product-list .product-item{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 1rem;
	transition: .3s .03s;
	line-height: 1.2rem;
	/* background-color: #ffffff; */
}
.product-list .product-item>.img{
	width: 100%;
	padding-bottom: 125%;
	display: block;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
}
.product-list .product-item:focus,
.product-list .product-item:hover{
	opacity: .5;
}
.category-list{
	width: 100%;
	display: block;
	position: relative;
	margin: 20px 0;
}
.category-list .category-item{
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
	color: #3f1606;
	border: 1px solid #3f1606;
	font-weight: bold;
	margin-bottom: 10px;
	transition: .3s .03s;
}
.category-list .category-item:focus,
.category-list .category-item:hover{
	border: 1px solid #dba74d;
	color: #dba74d;
}
.category-list .category-item.active,
.category-list .category-item.active:focus,
.category-list .category-item.active:hover{
	background-color: #ffc952;
	color: #3f1606;
	border: 1px solid #3f1606;
}
.category-text{
	width: 100%;
	display: block;
	position: relative;
	margin: 20px 0;
}
.brand-list{
	width: 100%;
	display: block;
	position: relative;
	padding: 10px 20px;
	background-color: #ffffff;
}

.brand-list .brand-item{
	width: 100%;
	display: block;
	position: relative;
	color: #666666;
	transition: .3s .03s;
	line-height: 20px;
	padding: 5px 0;
}
.brand-list .brand-item:focus,
.brand-list .brand-item:hover{
	color: #dba74d;
}
.brand-list .brand-item.active{
	color: #dba74d;
}
@media (min-width: 768px) {
	.product-list .col-md-tw{
		max-width: 20%;
	}
}
@media screen and (min-width:450px)and (max-width:768px){
	.product-list .col-xs-tw{
		max-width: 33.333333%;
	}
}

.price-filter{
	width: 100%;
	display: block;
	position: relative;
	padding: 10px 15px;
	margin-bottom: 30px;
	background-color: #ffffff;
}
.price-filter .price-filter-btn{
	font-size: 18px;
	font-weight: bold;
	color: #3f1606;
	display: inline-block;
}
.price-filter .price-filter-btn>i{
	margin: 0 5px;
	transition: .3s .03s;
	transform: rotateZ(0deg);
}
.price-filter .price-filter-btn[aria-expanded="true"]>i{
	transform: rotateZ(45deg);
}
.price-filter .collapse{
	/* margin-top: 10px; */
}
.select-btn{
	display: inline-block;
	border: 1px solid #3f1606;
	padding: 0px 10px;
	margin: 0 5px 10px 0;
}
.select-btn:hover{
	color: #3f1606;
}
.select-btn.active{
	display: inline-block;
	background-color: #ffc952;
	color: #3f1606;
}
.select-btn>i{
	display: none;
}
.select-btn.active>i{
	display: inline-block;
}
.select-btn-check{
	display: inline-block;
	padding: 0 10px;
	position: relative;
	right: 0;
	left: auto;
	outline: 1px solid #f7931e;
	color: #f7931e;
	transition: .3s .03s;
}
.select-btn-check:hover{
	background-color: #f7931e;
	color: #ffffff;
}

.product-block{
	width: 100%;
	display: block;
	position: relative;
	color: #666666;
}
.product-block .product-imgL{
	width: 100%;
	display: block;
	position: relative;
}
.product-block .product-imgL>img{
	width: 100%;
}
.product-block .product-num{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 10px;
	font-size: 18px;
}
.product-block .product-title{
	width: 100%;
	display: block;
	position: relative;
	font-size: 30px;
	font-weight: bold;
	line-height: 34px;
	color: #dba74d;
	margin-bottom: 20px;
}
.product-block .product-text{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 20px;
}

.product-cart{
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.product-cart .product-count{
	width: 100%;
	max-width: 120px;
	border-radius: 999999px;
	padding: 0 20px;
}
.product-cart .form-inline .form-group{
	display: flex;
}
.product-cart .product-btn-1{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	padding: 15px;
	background-color: #e6533f;
	color: #ffffff;
}
.product-cart .product-btn-2{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	padding: 15px;
	background-color: #cb3747;
	color: #ffffff;
}
.product-cart .product-btn-1:hover,
.product-cart .product-btn-2:hover{
	background-color: #dba74d;
	color: #3f1606;
	font-weight: bold;
}

.product-img-list{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 20px;
}
.product-img-list .product-img-item{
	width: 100%;
	padding-bottom: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	transition: .3s .03s;
}
.product-img-list .product-img-item:focus,
.product-img-list .product-img-item:hover{
	opacity: .5;
}
.product-img-list .product-img-item>img{
	max-width: 100%;
	max-height: 100%;
	display: block;
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
}


.page-btn-group{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: -10px 0 20px 0;
}
.page-btn-group .page-btn{
	display: block;
	position: relative;
	line-height: 30px;
	font-size: 18px;
	color: #3f1606;
	transition: .3s .03s;
	/* outline: 1px solid #f00; */
}
.page-btn-group .page-btn>span{
	width: 30px;
	height: 30px;
	display: inline-block;
	background-image: url('../images/icon-arrow.png');
	background-size: cover;
	position: relative;
	top: 8px;
	/* outline: 1px solid #0f0; */
}
.page-btn-group .page-btn.page-btn-next>span{
	transform: rotateZ(180deg);
}
.page-btn-group .page-btn:hover{
	color: #dba74d;
}
.page-btn-group .page-btn.page-btn-prev:hover{
	transform: translateX(-10px);
}
.page-btn-group .page-btn.page-btn-next:hover{
	transform: translateX(10px);
}




/* link=========================================== */
.link-item{
	width: 100%;
	display: block;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	margin: 30px 0;
	transition: .3s .03s;
}
.link-item .link-img{
	width: 100%;
	min-height: 100%;
	display: block;
	padding-bottom: 70%;
	background-size: cover;
}
.link-item .link-text{
	width: 100%;
	height: 100%;
	display: block;
	padding: 20px;
	overflow: hidden;
}
.link-item .link-text h4{
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0 20px;
	color: #000000;
	transition: .3s .03s;
}
.link-item .link-text p{
	width: 100%;
	height: 75px;
	display: block;
	font-size: 18px;
	line-height: 24px;
	overflow-y: auto;
	color: #666666;
}
.link-item:focus,
.link-item:hover{
	border: 1px solid #dba74d;
}
.link-item:focus .link-text h4,
.link-item:hover .link-text h4{
	color: #dba74d;
}
.link-item .link-text p::-webkit-scrollbar{
	width: 5px;
	background-color: #ffc952;
}
.link-item .link-text p::-webkit-scrollbar-thumb{
	width: 5px;
	background-color: #f7931e;
}
@media screen and (max-width:768px){
	.link-item .link-text p{
		height: auto;
		overflow-y: hidden;
	}
}











/* article list ======================================== */
.article-page-list{
	width: 100%;
	display: block;
	position: relative;
	margin: 0 0 30px 0;
	padding: 0;
	list-style: none;
}
.article-page-list .article-page-item{
	width: 100%;
	display: flex;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	margin-bottom: 20px;
}
.article-page-list .article-page-item>.img{
	width: 240px;
	height: 240px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	transition: .3s .03s;
}
.article-page-list .article-page-item>.block{
	width: calc( 100% - 240px);
	padding: 20px;
}
.article-page-list .article-page-item>.block>.title{
	width: 100%;
	height: 90px;
	font-size: 24px;
	line-height: 30px;
	color: #3f1606;
	font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	margin-bottom: 10px;
	transition: .3s .03s;
}
.article-page-list .article-page-item>.block>.text{
	width: 100%;
	height: 60px;
	font-size: 16px;
	line-height: 20px;
	color: #666666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	margin-bottom: 10px;
}
.article-page-list .article-page-item>.block>.date{
	width: 100%;
	display: block;
	position: relative;
	font-size: 14px;
	color: #b3b3b3;
}

.article-page-list .article-page-item:focus>.block>.title,
.article-page-list .article-page-item:hover>.block>.title{
	color: #dba74d;
}
.article-page-list .article-page-item:focus>.img,
.article-page-list .article-page-item:hover>.img{
	opacity: .5;
}
.article-page-list .article-page-item:hover{
	cursor: pointer;
}

@media screen and (max-width:540px){
	.article-page-list .article-page-item{
		display: block;
	}
	.article-page-list .article-page-item>.img{
		width: 100%;
		height: auto;
		padding-bottom: 100%;
	}
	.article-page-list .article-page-item>.block{
		width: 100%;
	}
}


.article-block{
	width: 100%;
	display: block;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	position: relative;
	padding: 20px;
	margin-bottom: 20px;
}
.article-content{
	max-width: 100%;
	width: 880px;
	position: relative;
	margin: 0 auto;
	/* outline: 1px solid #f00; */
}
.article-content>.date{
	width: 100%;
	display: block;
	position: relative;
	margin: 10px 0;
	color: #666666;
}
.article-content>.article-title{
	width: 100%;
	display: block;
	position: relative;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #dba74d;
	margin-bottom: 20px;
}
.article-content .article-carousel{
	width: 100%;
	display: block;
	position: relative;
}
.article-content .article-carousel .carousel-item .img{
	width: 100%;
	padding-bottom: 56%;
	display: block;
	position: relative;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.article-content .article-carousel .carousel-control-next,
.article-content .article-carousel .carousel-control-prev{
	width: 10%;
}
@media screen and (max-width:768px){
	.article-content .article-carousel .carousel-control-next img,
	.article-content .article-carousel .carousel-control-prev img{
		width: 30px;
	}
}
.article-content .shareBTN-group{
	border-bottom: 2px solid rgba(63, 22, 6, .1);
	margin-bottom: 20px;
}
.article-content>.article-text{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 50px;
}
























/* video===================================================== */
.video-item{
	width: 100%;
	padding-bottom: 56%;
	display: block;
	position: relative;
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 4px solid #dba74d;
	border-radius: 10px;
	transition: .3s .03s;
}
.video-item:hover{
	box-shadow: 0 5px 0 -2px #dba74d,
							0 10px 0 -5px #dba74d;
	transform: translate(0, -5px);
}
.video-item>a{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	border-radius: 10px;
	border: 6px solid #ffffff;
}
.video-item>a>img{
	width: 100%;
	position: absolute;
	top: 0;bottom: 0;
	left: 0;right: 0;
	margin: auto;
	transition: .3s .03s;
}
.video-item:hover>a>img{
	opacity: .4;
}
.video-item:after{
	content: '';
	width: 24%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;bottom: 0;
	left: 0;right: 0;
	margin: auto;
	background-image: url('../images/yt.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	transform: translate(0, -3%);
	pointer-events: none;
}
.video-item>a>.title{
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 5px 8px;
	background-color: #ffc952;
	color: #000000;
	transition: .3s .03s;
}
.video-item>a>.title>span{
	width: 100%;
	height: 40px;
	display: block;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.video-item:hover>a>.title{
	color: #ffffff;
	background-color: #dba74d;
}
.video-top{
	margin-bottom: 30px;
}
.video-top .video-item>a>.title{
	padding: 10px 15px;
}
.video-top .video-item>a>.title>span{
	height: 64px;
	line-height: 32px;
	font-size: 28px;
}

.video-player{
	width: 100%;
	display: block;
	position: relative;
	background-color: #ffffff;
	border: 5px solid #dba74d;
	border-radius: 10px;
	transition: .3s .03s;
	box-shadow: 0 5px 0 -2px #dba74d,
							0 10px 0 -5px #dba74d,
							0 15px 0 -8px #dba74d;
	padding: 10px;
	margin: 20px 0 30px;
}
.video-player iframe{
	border-radius: 10px;
}
.video-content{
	width: 100%;
	display: block;
	position: relative;
	color: #666666;
}
.video-content .title{
	width: 100%;
	display: block;
	position: relative;
	margin: 10px 0 30px;
	font-size: 30px;
	font-weight: bold;
	color: #dba74d;
}
.video-content .title{
}


















/* search================================================= */
.btn-search{
	border: 1px solid #ced4da;
	border-radius: 0;
	background-color: #ffffff;
	/* font-size: 18px; */
}
.btn-search:hover{
	background-color: #3f1606;
	color: #ffffff;
}
.searchbar.input-group input.form-control{
	/* border-color: #3f1606; */
	color: #3f1606;
	font-size: 18px;
	font-weight: bold;
	border-radius: 0;
}
.searchbar:after{
	content: '相關搜尋結果';
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	color: #666666;
}
#searchModal input.form-control{
	border-radius: 0;
}
.search-select{
	width: 100%;
	display: block;
	position: relative;
	top: 8px;
	text-align: right;
	vertical-align: bottom;
	color: #666666;
}
.search-select a:hover{
	color: #3f1606;
}
.search-select a.active{
	color: #dba74d;
}
.search-list{
	width: 100%;
	display: block;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 20px 0;
}
.search-item{
	width: 100%;
	display: flex;
	background-color: #ffffff;
	margin-bottom: 20px;
}
.search-keyword{
	color: #dba74d;
}
.search-item>.img{
	height: 190px;
	width: 340px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: .3s .03s;
}
.search-item>.block{
	width: calc( 100% - 340px);
	padding: 20px;
}
.search-item>.block>.title{
	width: 100%;
	height: 70px;
	font-size: 30px;
	line-height: 35px;
	color: #3f1606;
	font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	margin-bottom: 10px;
	transition: .3s .03s;
}
.search-item>.block>.text{
	width: 100%;
	height: 60px;
	font-size: 16px;
	line-height: 20px;
	color: #666666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	margin-bottom: 10px;
}
.search-item>.block>.date{
	width: 100%;
	display: block;
	position: relative;
	font-size: 14px;
	color: #b3b3b3;
}
.search-item:focus>.block>.title,
.search-item:hover>.block>.title{
	color: #dba74d;
}
.search-item:focus>.img,
.search-item:hover>.img{
	opacity: .5;
}

@media screen and (max-width:768px){
	.search-item{
		display: block;
	}
	.search-item>.img{
		width: 100%;
		height: auto;
		padding-bottom: 56%;
	}
	.search-item>.block{
		width: 100%;
	}
}













@media screen and (max-width:990px){


}
@media screen and (max-width:768px){


}
@media screen and (max-width:380px){



}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}